*.a
*.o
*.o.*
*.d
*.def
*.dylib
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/coverage.info
/avversion.h
/lcov/
/src
/mapfile
